.dialog-body {
    -fx-spacing: 10;
}

.form-field {
    -fx-spacing: 10;
    -fx-alignment: baseline-left;
}

.table-view, .text-field, .text-area {
    -fx-font-family: Consolas, monospace;
}

.text-field {
    -fx-border-radius: 0;
    -fx-border-color: #5199e2;
    -fx-background-color: white;
}

.button {
    -fx-background-color: #1d5fb5;
    -fx-padding: 0.5em 1.2em;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #FFF;
}

.button.small {
    -fx-padding: 0.3em 0.5em;
}

.label.tag {
    -fx-border-color: #5199e2;
    -fx-background-color: #5199e2;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-padding: 0.2em 0.4em;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 3, 0, 0, 0);
}

.tag-scroll-pane, .tag-scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.3em 0.0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;
}