.dialog-body {
    -fx-spacing: 10;
}

.form-field {
    -fx-spacing: 10;
    -fx-alignment: baseline-left;
}

.table-view, .text-field, .text-area {
    -fx-font-family: Consolas, monospace;
}

.text-field {
    -fx-border-radius: 0;
    -fx-border-color: #5199e2;
    -fx-background-color: white;
}

.button {
    -fx-background-color: #1d5fb5;
    -fx-padding: 0.5em 1.2em;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-fill: #FFF;
}

.button.small {
    -fx-padding: 0.3em 0.5em;
}

.label.tag {
    -fx-border-color: #5199e2;
    -fx-text-fill: #FFF;
}